body {
    font-size: 14px;
    font-family: sans-serif;
    background-color: #2e2e2e;
}
h2 {
    font-size: 20px;
    color: aliceblue;
}

div.menu {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 6px 10px;
    border-top: 1px solid #3d3e45;
    border-bottom: 1px solid #3d3e45;
}
div.menu div {
    display: flex;
    flex-direction: column;
}
div.menu a {
    margin: 2px 14px;
}

div.container {
    margin: 16px 10px;
    color: #c6cdd5;
}
div.content {
    margin: 20px;
}

a,
a:link,
a:visited {
    color: #a6f4ff;
    background-color: #2e2e2e;
    text-decoration: none;
}
a:hover {
    color: #dbfbff;
}

textarea {
    font-size: 11px;
}
textarea.input {
    min-height: 50px;
}
textarea.result {
    min-height: 80px;
}
textarea,
input,
div.file-upload {
    color: aliceblue;
    background-color: #1e1f22;
}
div.file-upload {
    padding: 10px 40px 10px 6px;
    border: 1px solid #777777;
    width: fit-content;
}

label {
    display: flex;
    flex-direction: column
}

button {
    padding: 4px 32px;
    font-size: 13px;
    color: #bfc4ca;
    background-color: #3d3e45;
}
input::file-selector-button {
    margin-right: 20px;
    padding: 6px 14px;
    color: aliceblue;
    background-color: #3d3e45;
    border-radius: 3px;
    border: 1px solid #777777;
    cursor: pointer;
}
input::file-selector-button:hover {
    background-color: #757783;
    cursor: pointer;
}
